#div_img{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
#div_img a{
    margin:10px;
    width:50px;
}
#insta{
    width: 24px;
    height: 24px;
}
#div_cgv{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#div_cgv a:active{
    color:black;
    
}

body {
    background-color: #D9D9D9;
}