header{
    width:1024px;
    height:172px;  
}
#header{
    width:1024px;
    height:108px;
    background-color: #D9D9D9;
}
#div_login{
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    z-index: 100; 
}
#login {
    width:170px;
    height:28px;  
    border-radius: 14px; 
    background-color: #606060;
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
}
#login a:link{
    color:white;
    font-family: inherit;
}
#logo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start; 
    position:relative;
    top: -30px;
    left:13px; 
    z-index: 9;
    width:96px;
    height:78px;
}
#logo img{
    width:96px;
    height:78px;
    
}

#panier_menu{
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    position:relative;
    top: -50px;
    right:20px;
    align-content: flex-end;
    z-index: 8;

}
#panier{
    width: 30px;
    height:28px;
}
#pos{
    display:flex;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -50px;
    z-index: 1;
}
#div_img_principale{
    position:relative;
    top:-40px;
    width:778px;
    height:118px;
    border: 1px solid black;
    overflow: hidden;
}

#img_principale{
    width:826px;
    height:960px;
    margin-left:-30px;
    margin-top:-430px;
}

#menu{
    width:300px;
    height:500px;
    display:flex;
    flex-direction: column;
}