header{
    width:1024px;
    height:172px;
    position:absolute;  
}
#header{
    width:1024px;
    height:108px;
    background-color: #D9D9D9;
}
#div_login{
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    z-index: 100; 
}
#login {
    width:170px;
    height:28px;  
    border-radius: 14px; 
    background-color: #606060;
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
    align-items: center;
}
#login a{
    color:white;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
}
#logo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start; 
    position:relative;
    top: -30px;
    left:13px; 
    z-index: 9;
    width:96px;
    height:78px;
}
#logo img{
    width:96px;
    height:78px;
    
}

#panier_menu{
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    position:relative;
    top: -50px;
    right:20px;
    z-index: 8;

}
#panier_menu img{
    width: 30px;
    height:28px;
}
#pos{
    display:flex;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -50px;
    z-index: 1;
}
#div_img_principale{
    position:relative;
    top:-30px;
    width:778px;
    height:118px;
    overflow: hidden;
}

#img_principale{
    width:826px;
    height:960px;
    margin-left:-30px;
    margin-top:-430px;
}

#menu{
    width:300px;
    height :0px;
    display:none;
    flex-direction: column;
    background-color: black;
    position:relative;
    z-index: 12;
    top:-146px;
    right: -724.5px;
}
.lien_menu {
    width: 300px;
    height:50px;
    background-color: #D9D9D9;
    display:flex;
    justify-content: center;
   
}
.lien_menu a,  .lien_menu span{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: black;
}