
    section {
      width:420px;
      height:400px;
      margin-top: 25px;
      border-radius: 20px;
      border:2px solid black ;
      display:flex; 
      flex-direction: column;
     
  }

  label{
    margin:25px;
}
input{
    border-radius: 10px;
    width:100%;
}
form{
    display:flex;
    flex-direction: column;
}
   