
#h1_prod{
   display:flex;
   width: 1024px;
   position:absolute;

   border:1px solid black;
}

 
#image{
   width: 200px;
   height:200px;
}


#price{
   margin-right:25px;
}

#up, #down  {
   margin-left:15px;
   margin-right: 15px;
   width:20px;
   height:20px;
   border:1px solid black;
   border-radius: 5px;
   display:flex;
   justify-content: center;
   align-items: center;
   z-index: 50;
}
#down:hover, #up:hover{
   cursor: pointer;
}

#imgAddCart:hover{
   cursor:pointer;
}

table{
   width:800px;
   margin-left: auto;
   margin-right: auto;
}

#titreTab{
   width:600px;
}
#desc{
   display:flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: row;
}
#Comment{
   width:800px;
   border:1px solid black;
   margin-left:auto;
   margin-right: auto;
}
textarea{
   width:800px;
}


 
 
 .container {
     max-width: 1100px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .stars {
     margin: 50px;
     text-align: center;
 }
 
 .stargrey {
     color: #96969d;
 }
 
 .yellow {
     color: #fedc18;
 }
 
 .star:hover {
     cursor: pointer;
 }

 #pastComments{
   padding:20px;
   margin-bottom:20px;
   width:800px;
   height:200px;
   border:1px solid black ;
   display:block;
 }

 #btn_comment{
   float:right;
   margin:25px;
 }