.hm-gradient {
    padding-top: 20%;
 }
 .darken-grey-text {
     color: #2E2E2E;
 }
 .input-group.md-form.form-sm.form-2 input {
     border: 1px solid #bdbdbd;
     border-top-left-radius: 0.25rem;
     border-bottom-left-radius: 0.25rem;
 }
 .input-group.md-form.form-sm.form-2 input.purple-border {
     border: 1px solid #9e9e9e;
 }
 .input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
     border: 1px solid #ba68c8;
     box-shadow: none;
 }
 .form-2 .input-group-addon {
     border: 1px solid #ba68c8;
 }
 .danger-text {
     color: #ff3547; 
 }  
 .success-text {
     color: #00C851; 
 }
 .table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
     border: 1px solid #ff3547!important;
 }        
 .table.table-bordered th {
     text-align: center;
 }
 
 

 
 .modal-body {
     background-color: #fff;
     border-color: #fff;
 
 }
 
 
 .close {
     color: #000;
     cursor: pointer;
 }
 
 .close:hover {
     color: #000;
 }
 
 
 .theme-color{
 
     color: #004cb9;
 }
 hr.new1 {
     border-top: 2px dashed #fff;
     margin: 0.4rem 0;
 }
 
 
 .btn-primary {
     color: #fff;
     background-color: #004cb9;
     border-color: #004cb9;
     padding: 4px;
     padding-right: 10px;
     padding-left: 10px;
     border-radius: 1px;
     font-size: 10px;
 }
 
 
 .btn-primary:hover {
     color: #fff;
     background-color: #004cb9;
     border-color: #004cb9;
     padding: 12px;
     padding-right: 30px;
     padding-left: 30px;
     border-radius: 1px;
     font-size: 17px;
 }